---

---

<section>
    <h2 class="heading--el">Client Testimonials</h2>
    <div class="flex--container">
        <div class="client--el">
            <img src="../src/images/image-emily.jpg" class="profile--el" alt="">
            <p class="text--el">We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
            <span class="name--el">Emily R.</span>
            <br>
            <br>
            <span class="position--el">Marketing director</span>
        </div>
        <div class="client--el">
            <img src="../src/images/image-thomas.jpg" class="profile--el" alt="">
            <p class="text--el">Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.</p>
            <span class="name--el">Thomas S.</span>
            <br>
            <br>
            <span class="position--el">Chief Operating Officer</span>
        </div>
        <div class="client--el">
            <img src="../src/images/image-jennie.jpg" class="profile--el" alt="">
            <p class="text--el">Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p>
            <span class="name--el">Jennie F.</span>
            <br>
            <br>
            <span class="position--el">Business Owner</span>
        </div>
    </div>
</section>

<style>
section {
    text-align: center;
    margin-bottom: 4em;
}

.heading--el {
    font-family: 'Fraunces', serif;
    font-size: 1em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: hsla(210, 4%, 67%, 1);
    margin-top: 4em;
}

.flex--container {
     display: flex;
       flex-direction: column;
 }

.client--el {
    margin-top: 4em;
}

 .profile--el {
    width: 72px;
    border-radius: 50%;
 }

 .text--el {
    font-family: 'Barlow', sans-serif;
    color: hsla(213, 9%, 39%, 1);
    line-height: 32px;
    padding: 1em;
 }

 .name--el {
    font-family: 'Fraunces', serif;
 }

 .position--el {
    font-size: 1em;
    font-family: 'Barlow', sans-serif;
    color: hsla(210, 4%, 67%, 1);
 }
</style>