---

---

<section>
    <div class="flex--container">
        <img src="../src/images/mobile/image-transform.jpg" class="transform--el" alt="">
        <div class="hero-text--el">
            <h2 class="heading--el">Transform your brand</h2>
            <p class="info--el">We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.</p>
            <span class="btn--el">LEARN MORE</span>
        </div>
        <div class="graphic--el">
            <img src="../src/images/mobile/image-graphic-design.jpg" class="design--el" alt="">
            <div class="graphic-text--el">
                <h2 class="heading--el-2">Graphic Design</h2>
                <p class="info--el-2">Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>
            </div>
        </div>
        <div class="photo--el">
            <img src="../src/images/mobile/image-photography.jpg" class="photo-img--el" alt="">
            <div class="photo-text--el">
                <h2 class="heading--el-3">Photography</h2>
                <p class="info--el-3">Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
            </div>

        </div>
    </div>
</section>

<style>
 .flex--container {
    display: flex;
    flex-direction: column;
}

.transform--el {
  max-width: 100%;
}

.hero-text--el {
  padding: 1em;
  text-align: center;
}

.heading--el {
    font-family: 'Fraunces', serif;
    font-size: 2em;
}

.info--el {
    font-size: 1.125em;
    font-family: 'Barlow', sans-serif;
    color: #808397;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 2em;
}

.btn--el {
    font-family: 'Fraunces', serif;
    font-size: 1em;
    border-bottom: 5px solid #FE7766 ;
    border-radius: 2px;
}

.design--el {
    max-width: 100%;
    margin-top: 2em;
}

.graphic--el {
    position: relative;
    margin-bottom: 0;
}

.graphic-text--el {
    position: absolute;
    text-align: center;
    top: calc(40% - 143px/2 + 169.5px);
    padding: 1em;
}

.heading--el-2 {
    font-family: 'Fraunces', serif;
    font-size: 1.75em;
    color: hsla(166, 40%, 24%, 1);
}

.info--el-2 {
    line-height: 28px;
    font-family: 'Barlow', sans-serif;
    color: hsla(166, 40%, 24%, 1);
}

.photo--el {
    position: relative;
    margin-top: 0;
}

.photo-img--el {
    max-width: 100%;
    margin-top: 0;
}

.photo-text--el {
    position: absolute;
    text-align: center;
    padding: 1em;
    top: calc(40% - 143px/2 + 169.5px);
}

.heading--el-3 {
    font-family: 'Fraunces', serif;
    font-size: 1.75em;
    color: hsla(197, 86%, 12%, 1);
}

.info--el-3 {
    line-height: 28px;
    font-family: 'Barlow', sans-serif;
    color: hsla(197, 86%, 12%, 1);
}

</style>