---

---

<section>
    <div class="grid-container">
        <img src="../src/images/mobile/image-gallery-cone.jpg" class="cone--el img--el" alt="">
        <img src="../src/images/mobile/image-gallery-milkbottles.jpg" class="milk--el img--el" alt="">
        <img src="../src/images/mobile/image-gallery-orange.jpg" class="orange--el img--el" alt="">
        <img src="../src/images/mobile/image-gallery-sugar-cubes.jpg" class="sugar--el img--el" alt="">
    </div>
</section>

<style>
    section {
        max-width: 375px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 2;
    }

    .img--el {
        max-width: 188px;
    }
    .milk--el {
        grid-column-start: 2;
        grid-row-start: 2;
    }
</style>