body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  color: #fff;

  background: url(../src/images/mobile/image-header.jpg);
  background-size: cover;
  height: 538px;
  justify-content: space-between;
  padding: 1em;
  text-align: center;
}

span {
  font-family: "Barlow", sans-serif;
  font-size: 1.5em;
}
